// global

body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: #fff;
}

main {
    max-width: $window__maxwidth;
    font-size: $font__base-size;
    line-height: $font__line-height-body;
}

a {
    &:after {
        text-decoration: none;
    }
}

ul {
    margin: 0px;
    padding: 0px;
}

.green-branding {
    color: $color__green-branding;
}

// header

header {
    display: flex;
    justify-content: center;
}

.logo {
    width: 100%;
    margin: 0px .5rem;

    a {
        width: 100%;
    }

    img {
        width: 100%;
    }
}

// footer

footer {

    margin-top: 5rem;

    @include tablet {

        display: flex;
        flex-direction: row;
    }
}

.footer-nav {

    @include branded-a;

    ul {
        display: flex;
        flex-direction: row;
        
        li {
            margin: 0px;
            padding: 0px 1rem;
            list-style-type: none;

            border-right: 1px solid #fff;
        }
    }
}

.external-link {

    @include branded-a;
    
    p {
        padding: 0px 1rem;

        @include tablet {

            margin: 0px;
        }
    }
}

//about 

.page {

    h1 {
        margin-bottom: 0rem;
    }

    p{
        @include branded-a;
        text-align: center;

        img {
            width: 1rem;
        }
    }  
}

.cats {
    max-width: 100%;
    
    h2 {
        font-size: 2rem;
    }

    ul {


        li {
            display: unset;
            list-style-type: none;
            line-height: 2rem;
            margin-right: 1rem;

            a {
                text-decoration: none;
                color: $color__green-branding;

            }
        }
    }
}

.tags {

}   
