// global

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
    padding: 0px .5rem;
    font-family: 'Exo';
}

main {
    max-width: $window__maxwidth;
    font-size: $font__base-size;
    line-height: $font__line-height-body;
    text-align: center;
}

a {
    &:after {
        text-decoration: none;
    }
}

ul {
    margin: 0px;
    padding: 0px;
}

// article {

//     .user-input {
//         display: flex;
//         flex-direction: column;
//         text-align: initial;

//         p {
//             text-align: initial;
//         }
//     }
// }

.green-branding {
    color: $color__green-branding;
}

.entry-div {
    text-align: center;
}

.entry-content {
    text-align: center;

    p {
        font-size: 1rem;
    }
}

// header

header {
    display: flex;
    justify-content: center;
}

.logo {
    width: 100%;
    margin: 4rem 0rem 1rem 0rem;


    a {
        width: 100%;
    }

    img {
        width: 100%;
    }
}

// footer

footer {

    margin-top: 5rem;

    @include tablet {

        display: flex;
        flex-direction: row;
    }
}

.footer-nav {

    @include branded-a;

    ul {
        display: flex;
        flex-direction: row;
        
        li {
            margin: 0px;
            padding: 0px 1rem;
            list-style-type: none;

            border-right: 1px solid #fff;

            &:last-child {
                border-right: 0px;
            }
        }
    }
}

.external-link {

    @include branded-a;
    text-align: center;
    
    p {
        padding: 0px 1rem;

        @include tablet {

            margin: 0px;
        }
    }
}

//about 

.page {

    h1 {
        margin-bottom: 0rem;
    }

    p{
        @include branded-a;
        text-align: center;
        font-weight: normal;

        img {
            width: 1rem;
        }
    }  
}

// archive

.cats {
    max-width: 100%;
    text-align: center;
    
    h2 {
        font-size: 1.5em;
        margin-top: 3rem;
    }

    ul {


        li {
            display: unset;
            list-style-type: none;
            line-height: 2rem;
            margin-right: 1rem;

            a {
                text-decoration: none;
                color: $color__green-branding;

            }
        }
    }
}  

// front-page

button {
    background-color: transparent;
    border: 2px solid #0c0;
    text-shadow: unset;
    box-shadow: unset;
    padding: .75rem 2.25rem;
    font-family: Exo, serif;
    font-weight: bold;
    font-size: 1rem;
    margin-top: 3rem;

    &:focus {
        outline: none;
    }
}

.quote-content p {
    font-size: 1.25rem;
}

article {
    font-size: 1.25rem;
}

.quote-title {
    text-align: center;
}

// submit a quote

.mandatory {
    color: red;
}
